<div>
    <h2>Page 2</h2>
    <a href ng-click="$root.goto('/')">Home</a><br />
    <label>Image Width<input title="Image Width" type="text" ng-model="imageWidth" /></label><br />
    <label>Save As Name<input title="Save As Name" type="text" ng-model="saveName" /></label><br />
    <a href ng-click="loadFiles()">Load Files</a><br />
    <button type="button" ng-click="saveAllFiles()">Save Files</button>
    <ul>
        <li ng-repeat="file in files">
            <img style="max-height: 250px; max-width: 250px;" ng-src="{{file.imageData}}"><br />
            {{file.name}} <br />
            <a href ng-click="saveFile(file)">Save File</a>
        </li>
    </ul>
</div>