<div class="container-fluid">
    <div class="row">
        <div class="form col-md-6">
            <div class="form-group">
                <label>
                    Image Width
                </label>
                <input class="form-control" title="Image Width" type="text" ng-model="imageWidth" />
            </div>
            <div class="form-group">
                <label>
                    Save as Name
                </label>
                <input class="form-control" title="Save As Name" type="text" ng-model="saveName" />
            </div>
            <button type="button" class="btn btn-default" ng-click="loadFiles()">Load Files</button>
            <button type="button" class="btn btn-default" ng-click="saveAllFiles()">Save Files</button>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-4" ng-repeat="file in files">
            <img style="max-height: 250px; max-width: 250px;" ng-src="{{file.imageData}}"><br />
            {{$index}}. {{file.name}} <br />
            <a href ng-click="saveFile(file)">Save File</a>
        </div>
    </div>
</div>